body {
  background-color: rgb(var(--v-theme-background));
  font-family: Roboto, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}
