body {
  background-color: rgb(var(--v-theme-background));
  font-family: Roboto, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}
.form-table tr th, .form-table tr td{
  border: 1px solid rgb(var(--v-theme-on-surface));
  padding-inline: 8px;
}